/* root is the very foundational styling for you web page */
:root{
    --color-light: white;
    --color-dark: #251a06;
    --color-accent: #1e1f22;
}

/* Targets the literal body of the website, which is everything that is displayed */
body{
    background-color: #313339;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    margin: 0%;
}

.sticky-text{
    position: sticky;
    top: 10%;
    left: 10%;
}


.navbar{
    width: 100%;
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content:space-around;

    position: Sticky;
    top: 0%;
    left: 0%;
}

.navbar h1{
    margin: 0%;
}

.img-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.rat-woman{
    grid-column-start: 2; grid-column-end: 4
}

.img-grid img{
    width: 100%;
}

.grid-box{
    background-color: #e4a31a;
}

.title{
    color: #e4a31a;
}

.color {
    /* Text color */
    color: blue;

    /* Border properties (In order: Width, type, color */
    border: 10rem solid green;

    /* Padding (Inside space of the element */
    padding: 0px;

    /* Margin (External space of the element */
    margin: 10px;

    /* Specifying which area you want to configure */
    border-left: 50px solid green;
    padding-top: 10px;
    margin-top: 10px;

    /* Background color of the element */
    background-color: aquamarine;
    
    /* Font Size */
    font-size: 50px;

    /* Radius of the border (How round you want the border's edges to be) */
    border-radius: 5rem;

    /* How thick or thin the text is */
    font-weight:bold;

    /* This is the height of this class */
    height: 5em;

    /* This is the width of this class */
    width: 100%;
}

.logo{
    width: 7em;
    height: 7em;

    border-radius: 100%;

    /* How long it takes to transition from one property to another (used for pseudoclasses)*/
    transition: ease-in-out 250ms; /*ease-in-out is a type of timing property we will dive more in-depth to in #5: Animations*/
}

/* Pseudo-class for specific properties ONLY EXPRESSED when hovered */
.logo:hover{
    /* How opaque the element is */
    opacity: 0.75;
}

/* Pseudo-class for specific properties ONLY EXPRESSED when clicked */
.logo:active{
    opacity: 1;
    width: 11em;
    height: 11em;
}

/* Pseudo-class for specific properties ONLY EXPRESSED by the nth child of a parent class*/
.color:nth-child(3){
    background-color: black;
    width: 40px;
}

/* Visited is a pseudo-class for a hyperlink after being visited */
.among:visited{
    color: #e4a31a;
}

/* Visited is a pseudo-class for a hyperlink prior to being visited */
.among:link{
    color: white;
}

.popup{
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 5rem;
    margin: 1rem;
    border-radius: 100%;
}